<a href="#modal-action-check"><button class="pure-button pure-input-1-2 pure-button-primary">Check</button></a>
<div class="remodal" data-remodal-id="modal-action-check">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Check</h1>
	
  <br>
  <button data-remodal-action="cancel" class="button-secondary pure-button">No</button>
  <button class="pure-button pure-input-1-2 pure-button-primary" onclick="check();">Yes</button>
</div>

<script>
function check() {
        var jsonText = JSON.stringify({'list': list, 'command': 'check'});
  $.ajax({
	  	  headers: {'X-CSRFToken': '{{ csrf_token }}'},
          type: 'POST',
          url: '{% url 'main:action' %}',
          traditional: true,
          dataType: 'html',
          data: jsonText,
          success: function(data){
				window.location.replace('{% url 'main:list' %}')
          }

      })
  list = []
}
</script>


